{% extends 'layout.html' %}
{% block title %}Home{% endblock %}
{% block content %}
<div class="container">
  <table style="width: 100%;">
    <tr>
      <td style="width: 50%; padding: 20px;">
        <img src="{{ url_for('static', filename='images/pet_tinder_playdate.jpeg') }}" alt="Pet Tinder Playdate" width="400">
      </td>
      <td style="width: 50%; padding: 20px; vertical-align: top;">
        <h2>Welcome to Pet Tinder 🐾</h2>
        {% if session.get('caretaker_id') %}
        <p>Welcome back, {{ session.get('caretaker_name') }}!</p>
        <ul>
          <li><a href="{{ url_for('main.register_pet') }}">Register a Pet</a></li>
          <li><a href="{{ url_for('main.view_owned_pets') }}">View Your Pets</a></li>
        </ul>
        {% else %}
        <p>Please register or log in as a caretaker to begin.</p>
        <ul>
          <li><a href="{{ url_for('main.register_caretaker') }}">Register as a Caretaker</a></li>
          <li><a href="{{ url_for('main.login_caretaker') }}">Login as a Caretaker</a></li>
        </ul>
        {% endif %}
      </td>
    </tr>
  </table>
</div></td></div>
  
{% endblock %}
